@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'variables';

.title-container {
    position: relative;

    .main-title {
      background-color: $header-background;
      color: $header-title;
      position: relative;    
      line-height: 4em;
      flex: 0;
      text-align: center;
   }

   @include media-breakpoint-down(sm) {
        .main-title {
            text-align: left;
            padding-left: 2em;
        }
    }

    // TODO variable nebo mixin
    @media (max-width: 375px) {
        .main-title {
            padding-left: 1em;
            }
    }

   .switch {
      position: absolute;
      right: 2em;
      bottom: 2em;
  }
 }